<?xml version="1.0"?>
<model>
  <name>Standard VTOL WITH GIMBAL AND CAMERA</name>
  <version>1.0</version>
  <sdf version='1.4'>vtol_gimbal_camera.sdf</sdf>

  <author>
   <name>Wang, Ying-Hua</name>
   <email>-</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane.
  </description>
</model>
